<script defer src="/js/nodemailer.js"></script>

{{#if flag }}
<h2>Сейчас по близости нет доступных заказов...</h2>
<div>как только появится доступный заказ, вы будете извещены по email</div>
{{else}}
<h2 style="margin-left: 40%">Выберите подходящий Вам заказ, из списка:</h2>
<div class="container col" style="margin-left: 50%">
  {{#each courierOrders}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Содержимое заказа: </h5>
      <p class="card-text">{{basket}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li style="margin-left: 30%; margin-right: 30%" class="list-group-item">Ресторан: {{cafe}} </li>
      <li class="list-group-item">Изначальная цена заказа: {{oldPrice}}</li>
      <li class="list-group-item">Цена заказа со скидкой для Вас: {{newPrice}}</li>
      <li class="list-group-item">Скидка для Вас: {{sales}}%</li>
      <li class="list-group-item">Связаться с курьером по телефону: {{phoneOfCourier}}</li>
      <li class="list-group-item">Связаться с курьером через почту: {{email}}</li>
    </ul>
    <div class="card-body">
      <a class="btn btn-primary card-link" id="{{_id}}" href="/user/order?email={{email}}">СДЕЛАТЬ ЗАКАЗ</a>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
<a style="margin: 3% 0 0 50%" class="btn btn-success" href="/user/main">Назад</a>