{{!-- <script defer src="/js/nodemailer.js"></script> --}}
{{#if flag }}
<h2>Сейчас по близости нет доступных заказов...</h2>
<div>как только появится доступный заказ, вы будете извещены по email</div>
{{else}}
<h2>Выберите подходящий Вам заказ, из списка:</h2>
{{#each courierOrders}}
<h2>СПИСКО ВОЗМОЖНЫХ ЗАКАЗОВ:</h2>
<ul>
  <li>Ресторан: {{cafe}} </li><br>
  <li>Содержимое заказа: {{basket}}</li><br>
  <li>Изначальная цена заказа: {{oldPrice}}</li><br>
  <li>Цена заказа со скидкой для Вас: {{newPrice}}</li><br>
  <li>Скидка для Вас: {{sales}}%</li><br>
  <li>Связаться с курьером по телефону {{phoneOfCourier}}</li><br>
  <li>Связаться с курьером через почту {{email}}</li><br>
</ul>
<button> <a id="{{_id}}" href="/user/order?email={{email}}">СДЕЛАТЬ ЗАКАЗ</a></button>
{{/each}}

{{/if}}
<a href="/user/main">Назад</a>
