 {{#if flag }}
<h2>Сейчас по близости нет доступных заказов...</h2>
<div>как только появится доступный заказ, вы будете извещены по email</div>
{{else}}
<h2>Выберите подходящий Вам заказ, из списка:</h2>
{{#each courierOrders}}
<h2>СПИСКО ВОЗМОЖНЫХ ЗАКАЗОВ:</h2>
<ul>
  <li>Ресторан: {{cafe}} </li><br>
  <li>Содержимое заказа: {{basket}}</li><br>
  <li>Изначальная цена заказа: {{oldPrice}}</li><br>
  <li>Цена заказа со скидкой для Вас: {{newPrice}}</li><br>
  <li>Скидка для Вас: {{sales}}%</li><br>
</ul>
<button> <a href="/user/order">СДЕЛАТЬ ЗАКАЗ</a></button>
{{/each}}
<a href="/user/main">Назад</a>
{{/if}}
