{{#if flag }}
<div class="d-flex justify-content-center">
  <h2 class="text-danger">У Вас нету выполненных заказов...</h2>
</div>
{{else}}
<h2>Ваши выбранные заказы:</h2>
<h2>Cписок заказов:</h2>
{{#each courierOrders}}
<div class="container">
  <div class="row-6 border border-success m-3 d-flex justify-content-center">
    <ul class="list-group m-3 ">
      <li class="list-group-item"><strong>Ресторан:</strong> {{cafe}}</li>
      <li class="list-group-item"><strong>Корзина:</strong> {{basket}}</li>
      <li class="list-group-item"><strong>Адресс:</strong> {{address}}</li>
      <li class="list-group-item"><strong>Скидка:</strong> {{sales}}</li>
      <li class="list-group-item"><strong>Старая цена:</strong> {{oldPrice}}</li>
      <li class="list-group-item"><strong>Новая цена:</strong> {{newPrice}}</li>
      <li class="list-group-item"><strong>Дата:</strong> {{date}}</li>
    </ul>
  </div>
</div>
{{/each}}
<a href="/courier/main">Назад</a>
{{/if}}

{{!-- <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div> --}}
